---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik
  mail_network:
    external: false

services:
  # External dependencies
  redis:
    image: redis:{{ mailu.redis_version }}
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/mailu/redis:/data"
    networks:
      - mail_network

  # Core services
  front:
    image: mailu/nginx:{{ mailu.version }}
    restart: unless-stopped
    env_file: .env
    logging:
      driver: json-file
    ports:
      - "25:25"
      - "465:465"
      - "587:587"
      - "110:110"
      - "995:995"
      - "143:143"
      - "993:993"
    volumes:
      - "{{ volumes_root }}/mailu/certs:/certs"
      - "{{ volumes_root }}/mailu/overrides/nginx:/overrides"
    networks:
      - traefik_network
      - mail_network
    labels:
      - "traefik.http.services.mailu.loadbalancer.server.scheme=http"
      - "traefik.http.services.mailu.loadbalancer.server.port=80"
{% include './labels.j2' %}

  admin:
    image: mailu/admin:{{ mailu.version }}
    restart: unless-stopped
    env_file: .env
    volumes:
      - "{{ volumes_root }}/mailu/data:/data"
      - "{{ volumes_root }}/mailu/dkim:/dkim"
    depends_on:
      - redis
    networks:
      - traefik_network
      - mail_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.mailu.loadbalancer.server.scheme=http"
      - "traefik.http.services.mailu.loadbalancer.server.port=80"
      - "traefik.http.routers.mailu-http.rule=Host(`admin.{{ service_domain }}`)"
      - "traefik.http.routers.mailu-http.entrypoints=http"
      - "traefik.http.routers.mailu-http.middlewares={% if mailu.https_only %}redirect@file, security-headers@file, {% else %}{% if mailu.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.mailu.rule=Host(`admin.{{ service_domain }}`)"
      - "traefik.http.routers.mailu.entrypoints=https"
      - "traefik.http.routers.mailu.middlewares={% if mailu.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.mailu.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.mailu.tls.certresolver=dns"
      - "traefik.http.routers.mailu.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.mailu.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.mailu.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.mailu-tor-http.rule=Host(`admin.{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.mailu-tor-http.entrypoints=http"
      - "traefik.http.routers.mailu-tor-http.middlewares={% if mailu.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  imap:
    image: mailu/dovecot:{{ mailu.version }}
    restart: unless-stopped
    env_file: .env
    volumes:
      - "{{ volumes_root }}/mailu/mail:/mail"
      - "{{ volumes_root }}/mailu/overrides:/overrides"
    networks:
      - mail_network
    depends_on:
      - front

  smtp:
    image: mailu/postfix:{{ mailu.version }}
    restart: unless-stopped
    env_file: .env
    volumes:
      - "{{ volumes_root }}/mailu/overrides:/overrides"
    networks:
      - mail_network
    depends_on:
      - front

  antispam:
    image: mailu/rspamd:{{ mailu.version }}
    restart: unless-stopped
    env_file: .env
    volumes:
      - "{{ volumes_root }}/mailu/filter:/var/lib/rspamd"
      - "{{ volumes_root }}/mailu/dkim:/dkim"
      - "{{ volumes_root }}/mailu/overrides/rspamd:/etc/rspamd/override.d"
    networks:
      - mail_network
    depends_on:
      - front

  # Optional services
  antivirus:
    image: mailu/clamav:{{ mailu.version }}
    restart: unless-stopped
    env_file: .env
    volumes:
      - "{{ volumes_root }}/mailu/filter:/data"
    networks:
      - mail_network

  webdav:
    image: mailu/radicale:{{ mailu.version }}
    restart: unless-stopped
    env_file: .env
    volumes:
      - "{{ volumes_root }}/mailu/dav:/data"
    networks:
      - mail_network

  certdumper:
    restart: unless-stopped
    image: mailu/traefik-certdumper:{{ mailu.version }}
    environment:
      - DOMAIN={% if mailu.domain %}{{ mailu.domain }}{% else %}{{ mailu.subdomain + "." + domain }}{% endif %}

    volumes:
      # Folder, which contains the acme.json
      - "{{ volumes_root}}/traefik:/traefik"
      # Folder, where cert.pem and key.pem will be written
      - "{{ volumes_root }}/mailu/certs:/output"

  # Webmail
  webmail:
    image: mailu/rainloop:{{ mailu.version }}
    restart: always
    env_file: .env
    volumes:
      - "{{ volumes_root }}/mailu/webmail:/data"
    depends_on:
      - imap
    networks:
      - traefik_network
      - mail_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.mailu.loadbalancer.server.scheme=http"
      - "traefik.http.services.mailu.loadbalancer.server.port=80"
      - "traefik.http.routers.mailu-http.rule=Host(`webmail.{{ service_domain }}`)"
      - "traefik.http.routers.mailu-http.entrypoints=http"
      - "traefik.http.routers.mailu-http.middlewares={% if mailu.https_only %}redirect@file, security-headers@file, {% else %}{% if mailu.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.mailu.rule=Host(`webmail.{{ service_domain }}`)"
      - "traefik.http.routers.mailu.entrypoints=https"
      - "traefik.http.routers.mailu.middlewares={% if mailu.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.mailu.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.mailu.tls.certresolver=dns"
      - "traefik.http.routers.mailu.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.mailu.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.mailu.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.mailu-tor-http.rule=Host(`webmail.{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.mailu-tor-http.entrypoints=http"
      - "traefik.http.routers.mailu-tor-http.middlewares={% if mailu.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

#Checking
